<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>NemeumWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>sWelcomePage</display-name>
    <servlet-name>sWelcomePage</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sWelcomePage</servlet-name>
    <url-pattern>/Welcome-Page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDeleteCompanyUser</display-name>
    <servlet-name>sDeleteCompanyUser</servlet-name>
    <jsp-file>/DetailCompanyUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDeleteCompanyUser</servlet-name>
    <url-pattern>/Delete-Company</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDeleteIndividualUser</display-name>
    <servlet-name>sDeleteIndividualUser</servlet-name>
    <jsp-file>/DetailIndividualUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDeleteIndividualUser</servlet-name>
    <url-pattern>/Delete-Individual</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDeleteTrainerUser</display-name>
    <servlet-name>sDeleteTrainerUser</servlet-name>
    <jsp-file>/DetailTrainerUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDeleteTrainerUser</servlet-name>
    <url-pattern>/Delete-Trainer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDeleteScenario</display-name>
    <servlet-name>sDeleteScenario</servlet-name>
    <jsp-file>/DetailScenario.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDeleteScenario</servlet-name>
    <url-pattern>/Delete-Scenario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDeleteTeam</display-name>
    <servlet-name>sDeleteTeam</servlet-name>
    <jsp-file>/DetailTeam.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDeleteTeam</servlet-name>
    <url-pattern>/Delete-Team</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDeleteEvent</display-name>
    <servlet-name>sDeleteEvent</servlet-name>
    <jsp-file>/DetailEvent.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDeleteEvent</servlet-name>
    <url-pattern>/Delete-Event</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sModifyCompanyUser</display-name>
    <servlet-name>sModifyCompanyUser</servlet-name>
    <jsp-file>/ModifyCompanyUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sModifyCompanyUser</servlet-name>
    <url-pattern>/Modify-CompanyUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sModifyTrainerUser</display-name>
    <servlet-name>sModifyTrainerUser</servlet-name>
    <jsp-file>/ModifyTrainerUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sModifyTrainerUser</servlet-name>
    <url-pattern>/Modify-TrainerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sModifyIndividualUser</display-name>
    <servlet-name>sModifyIndividualUser</servlet-name>
    <jsp-file>/ModifyInvididualUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sModifyIndividualUser</servlet-name>
    <url-pattern>/Modify-IndividualUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sModifyScenario</display-name>
    <servlet-name>sModifyScenario</servlet-name>
    <jsp-file>/ModifyScenario.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sModifyScenario</servlet-name>
    <url-pattern>/Modify-Scenario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sModifyTeam</display-name>
    <servlet-name>sModifyTeam</servlet-name>
    <jsp-file>/ModifyTeam.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sModifyTeam</servlet-name>
    <url-pattern>/Modify-Team</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sModifyEvent</display-name>
    <servlet-name>sModifyEvent</servlet-name>
    <jsp-file>/ModifyEvent.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sModifyEvent</servlet-name>
    <url-pattern>/Modify-Event</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sPostIndividualUser</display-name>
    <servlet-name>sPostIndividualUser</servlet-name>
    <jsp-file>/PostIndividualUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sPostIndividualUser</servlet-name>
    <url-pattern>/Post-IndividualUser</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>sPostCompanyUser</display-name>
    <servlet-name>sPostCompanyUser</servlet-name>
    <jsp-file>/PostCompanyUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sPostCompanyUser</servlet-name>
    <url-pattern>/Post-CompanyUser</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>sPostTrainerUser</display-name>
    <servlet-name>sPostTrainerUser</servlet-name>
    <jsp-file>/PostTrainerUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sPostTrainerUser</servlet-name>
    <url-pattern>/Post-TrainerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sPostScenario</display-name>
    <servlet-name>sPostScenario</servlet-name>
    <jsp-file>/PostScenario.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sPostScenario</servlet-name>
    <url-pattern>/Post-Scenario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sPostTeam</display-name>
    <servlet-name>sPostTeam</servlet-name>
    <jsp-file>/PostTeam.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sPostTeam</servlet-name>
    <url-pattern>/Post-Team</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sPostEvent</display-name>
    <servlet-name>sPostEvent</servlet-name>
    <jsp-file>/PostEvent.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sPostEvent</servlet-name>
    <url-pattern>/Post-Event</url-pattern>
  </servlet-mapping>
</web-app>